.jumbotron {
	opacity: 0.5;
}
h1 {
	text-align: center;
	color: black;
}

p {
	text-align: center;
	font-size: 40px;
	font-weight:20px;
	color: black;
}

body {
	background-image: url("../images/under-the-sea.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}


h3 {
	text-align: center;
}

.col-sm-4 {
    text-align:center;
    opacity: 0.5;
    color: black;
    font-weight: bold;
}

.col-sm-8 {
    text-align:center;
    opacity: 0.5;
    color: black;
    font-weight: bold;
}

.panel-title {
	font-weight: bolder;
	color: black;
}